td{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    font-size: 32px;
    text-align: center;
    background-size: contain;
}
#win{
    display: none;
}
#lose{
    display: none;
}
#getID{
    position: absolute;
    left: 910px;
    top: 220px;
    height: 300px;
    width: 638px;
}
button{
    position: absolute;
    left: 910px;
    top: 700px;
    height: 150px;
    width: 350px;
    font-size: 60px;
}
p{
    font-size: 50px;

}
#braindialog{
    z-index: 1;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}
#BoxArray{
    position: absolute;
    left: 950px;
    bottom: 850px;
}
#MyArray{
    position: absolute;
    left: 950px;
    bottom: 775px;
}
#BotArray{
    position: absolute;
    left: 950px;
    bottom: 700px;
}
#brain{
    position: absolute;
    height: 250px;
    width: 350px;
    left: 1500px;
    bottom: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#braindialog{
    position: absolute;
    font-size: 35px;
    left: 1450px;
    bottom: 290px;
}
