td{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    font-size: 32px;
    text-align: center;
    background-size: contain;
}
#win{
    display: none;
}
#lose{
    display: none;
}
div{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    font-size: 60px;
    text-align: center;
    position: absolute;
    left: 950px;
    top: 125px;
}
#getID{
    position: absolute;
    left: 910px;
    top: 390px;
    height: 205px;
    width: 638px;
}
button{
    position: absolute;
    left: 910px;
    top: 650px;
    height: 150px;
    width: 350px;
    font-size: 60px;
}
.photos{
    height: 250px;
    position: absolute;
}
#example{
    position: absolute;
    left: 1300px;
    top: 100px;
}
#pomme{
    left: 1300px;
    top: 100px;
    display: none;
}
#shit💩{
    left: 1600px;
    top: 100px;
    display: none;
}
#beaugosse{
    left: 1600px;
    top: 400px;
    display: none;
}